*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#pianoContainer{
    display: flex;
    background-color: rgb(179, 179, 179);
    height: 110vh;
    margin-top: -1rem;
    flex-direction: column;
    align-items: center;
}

#whiteTangentContainer{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.whiteTangent{
    width: 5rem;
    height: 20rem;
    background-color: white;
    box-shadow: inset 0px 0px 2px 1px black;
    border-radius: 6px;
    cursor: grab;
}
.whiteTangent:active{
    box-shadow: inset 0px 0px 10px 1px black;
}

#blackTangentContainer{
    position: absolute;
    display: flex;
}
.blackTangent{
    width: 2.6rem;
    height: 13rem;
    background-color: black;
    box-shadow: inset 0px 0px 12px 3px rgb(60, 19, 209);
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: -2rem;
    border-radius: 10px;
    cursor: grab;
}

.blackTangent:active{
    box-shadow: inset 0px 0px 10px 4px white;

}

#dold{
    visibility: hidden;
}

#btnContainer{
    padding: 2rem;
}

#startBtn, #clearBtn{
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    background-color: rgb(50, 50, 255);
    font-size: 17px;
    color: aliceblue;
}